[Unit]
Description=Pihole v6 Prometheus Exporter
After=pihole-FTL.service
Requires=pihole-FTL.service   # optional but tightens coupling

[Service]
ExecStart=/opt/pihole6_exporter/venv/bin/python /usr/local/bin/pihole6_exporter
Type=simple                   # or just delete this line (simple is default)
Restart=always
RestartSec=5s                 # small back-off between restarts

[Install]
WantedBy=multi-user.target