[Unit]
Description=Prometheus exporter for Pi-hole version 6+
# Optional but tightens coupling
After=pihole-FTL.service

[Service]
# API token from environment file (if exists) or existing environment variable
# File variables override existing environment variables if file exists
EnvironmentFile=-/etc/pihole6_exporter/pihole6_exporter.env
ExecStart=/opt/pihole6_exporter/venv/bin/python /usr/local/bin/pihole6_exporter -H localhost -k ${PIHOLE_API_TOKEN} -l INFO
# Simple is the default type, but being explicit is good
Type=simple
Restart=always
# Small back-off between restarts
RestartSec=5s

[Install]
WantedBy=multi-user.target