[Unit]
Description=Run Pi-hole v6 Logs Exporter every 30 seconds
After=network.target
Wants=network-online.target

[Timer]
# Run every 5 minutes
OnCalendar=*:0/5:0
# Also run on boot after 10 seconds
OnBootSec=10
# Randomize start time to avoid thundering herd
RandomizedDelaySec=5
# Persist across reboots
Persistent=true

[Install]
WantedBy=timers.target 